html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background: #757575;
}

.global__Grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-align: center;
}

.nav__Bar {
  align-items: center;
  background: #878383;
  display: flex;
  height: 102px;
  justify-content: space-around;
}

.logo {
  height: 70px;
  margin-left: 5%;
  margin-top: 15%;
  width: 193px;
}

.buttom__1 {
  background-color: #878383;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  width: auto;
}

.buttom__1:hover {
  background-color: #757575;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttom__2 {
  align-items: center;
  background-color: #878383;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  justify-content: space-around;
  width: 110px;
}

.buttom__2 img {
  height: 30px;
  width: 30px;
}

.searchBox {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px 20px;
  border: none;
  border-radius: 10px;
  color: grey;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 56px;
  width: 350px;
}

.front__Title {
  background: white;
  font-size: 40px;
  line-height: 40px;
  margin: 1% 40%;
  position: absolute;
  width: 20rem;
}

.seriusly {
  background: #878383;
  background-size: auto;
  border: white 4px solid;
  border-radius: 10px;
  float: right;
  font-size: 20px;
  margin: 1% 10%;
  padding: 10px;
}

.first__Latest {
  background-color: #878383;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto auto;
  margin-top: 2em;
}

.first__Latest > div:nth-child(odd) {
  background-color: #757575;
}

.in__Grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4;
  height: 100vh;
  text-align: left;
}

.in__One {
  align-items: center;
  display: inline-flex;
  justify-content: baseline;
  margin-left: 4rem;
  margin-top: 3em;
}

.in__Two {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;
}

.in__Three {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4rem;
}

.in__Three i {
  color: white;
  font-size: 80px;
}

.square {
  width: 75px;
  height: 75px;
  border: solid white 5px;
  border-radius: 15px;
  background: black;
  transform: rotate(340deg);
  transform-origin: bottom left;
}

.author1 {
  margin-left: 2rem;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
}

.wrote {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-size: 15px;
  color: white;
  margin-left: 0.5rem;
}

.article__Title {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.comments1 {
  margin-top: 1rem;
}

.comments1 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  display: inline-flex;
}

.comments1 p {
  margin-left: 1rem;
}

.options1 {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  display: inline-flex;
  margin-top: 3rem;
}

.art__Flex {
  background-color: #b7b5b5;
  margin-top: 1rem;
  display: flex;
}

.art__Container {
  border: grey 1px solid;
  padding-top: 1rem;
}

.art__Date {
  margin-left: 1rem;
  text-align: left;
  color: black;
}

.art__Title {
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.art__Title u {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.art__Author {
  margin-left: 1rem;
  margin-top: 2rem;
  text-align: left;
}

.art__Author a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: black;
}

.art__Filler {
  text-align: justify;
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 20px;
  width: 375px;
  line-height: 30px;
}

.art__Arrow {
  float: left;
  background-color: #b7b5b5;
  padding: 4rem;
  margin-top: 4rem;
  border: none;
}

.art__Arrow:hover {
  background-color: #757575;
}

.art__Arrow i {
  font-size: 30px;
}

.third__Wrap {
  background-color: #757575;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.third__Sponsor {
  margin-left: 2rem;
  width: 383px;
  height: 270px;
  background: #878383;
  border-radius: 15px;
}

.third__Sponsor img {
  margin-top: 1.2rem;
  width: 175px;
  height: 62.5px;
}

.sponsor__Title {
  font-weight: bold;
  color: white;
}

.sponsor__Content {
  color: white;
  text-align: center;
  margin: 2rem 2rem;
}

.third__Sponsor button {
  margin: 0.5rem;
  padding: 0.6rem;
  border-radius: 10px;
  border: none;
}

.third__Cat {
  margin-right: 2rem;
  background: #b7b5b5;
  border-radius: 15px;
  width: 864px;
  height: 650px;
}

.cat__Cat {
  width: 241px;
  height: 290px;
}

.cat__Smashing {
  margin: 5rem auto;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.cat__Intro p {
  margin: 3rem;
  margin-right: 9rem;
  margin-left: 9rem;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.cat__Button {
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: grey;
  margin-bottom: 2rem;
}

.cat__Account p {
  color: white;
}

.hibrid__Wrap {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.hibrid__Cat {
  margin-right: 2rem;
  margin-left: 2rem;
  background: #b7b5b5;
  border-radius: 15px;
  width: 864px;
  height: 650px;
}

.hibrid__Container {
  border: grey 1px solid;
  padding-top: 1rem;
  background-color: #b7b5b5;
  width: 40%;
  margin-bottom: auto;
  margin-left: 2rem;
}

.hibrid__Footer {
  margin: 4rem;
}

.hibrid__Footer a {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-bottom: 8px solid black;
}

.five__Ethical {
  background-color: #878383;
  height: 160vh;
  width: 100%;
}

.add__Wrapper p {
  margin: 4rem auto;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}

.add__Smashing {
  margin: 5rem auto;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 2px 2px #383636;
}

.add__Dark {
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.add__Intro p {
  margin: 3rem;
  margin-right: 22rem;
  margin-left: 22rem;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
}

.add__Bold {
  font-weight: bolder;
}

.add__Cat {
  margin: 0 auto;
}

.person_week {
  margin: 4em;
  text-align: left;
  font-size: 19px;
}

.person_week p {
  margin: 2em;
}

.square1 {
  margin-right: 2em;
  float: left;
  width: 130px;
  height: 130px;
  border: solid white 5px;
  border-radius: 15px;
  background: black;
  transform: rotate(340deg);
  transform-origin: bottom left;
}

.divisor15 {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 2rem;
  margin-left: 2rem;
  background: #b7b5b5;
  border-radius: 15px;
  width: 864px;
}

.divisor15 > * {
  padding: 1em;
}

.divisor151 {
  font-size: 3em;
}

.divisor151 a {
  color: white;
}

.divisor152 {
  font-size: 1.5em;
  color: white;
}

.imgdiv153 {
  width: 300px;
}

.divisor154 {
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div154 {
  width: 120px;
  padding-left: 1em;
  box-sizing: border-box;
  height: 100%;
}

.divisor154 input {
  width: 15%;
  background-color: white;
  border: none;
  border-radius: 5px 0 0 5px;
}

.divisor154 button {
  width: 10%;
  border-left: 1px solid gray;
  padding-left: 0;
  background-color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}

.hide {
  display: none;
}

.divisor16 {
  background-color: white;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor16 > * {
  color: black;
}

.footer {
  color: white;
  width: 100%;
  height: 600px;
  background: #b7b5b5;
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1 {
  padding: 3em 0 2em 0;
}

.footer2 {
  width: 80%;
}

.footer21 {
  max-width: 95%;
  text-align: center;
  list-style-type: disc;
}

.footer2 li {
  display: inline-block;
  padding: 1em 1em;
}

.footer3 {
  padding: 2em 0 2em 0;
  font-size: 13px;
}

.footer32 {
  padding: 0.5em;
}

.footer33 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.footer a {
  color: white;
}

.footer33 > * {
  padding: 0 0.6em;
}
